:root {
	--darkgray: #1d1d1f;
	--blue: #496d8c;
	--red: #f2798f;
	--gray: #f2f2f2;
	--light: #ffffff;
}

body {
	margin: 0;
	font-family: Montserrat, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-y: scroll;
}

h1 {
	font-family: Montserrat, Helvetica, sans-serif;

	font-size: 5rem;
	font-weight: 800;

	color: var(--blue);
}

a:link {
	color: var(--blue);
}

a:visited {
	color: var(--blue);
}

.formWrapper {
	margin: 100px auto;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 80%;
}

.flowerContainer {
	margin: 100px auto;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

input[type = text] {
	padding: 10px 20px;

	width: calc(100% - 20rem);

	box-sizing: border-box;
	height: 5rem;

	border: none;
	background-color: var(--blue);
	color: white;
	outline: none;

	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: 800;

	max-width: 800px;
}

input[type=text]::placeholder {
	color: white;
}

button[type=submit] {
	width: 7rem;
	padding: 10px 20px;
	margin: 0 0 0 5px;
	text-decoration: none;
	height: 5rem;

	border: none;
	background-color: var(--blue);
	color: white;
	outline: none;

	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: 800;

	cursor: pointer;
}

button[type=exampleData] {
	width: 10rem;
	padding: 10px 20px;
	margin: 0 0 0 5px;
	text-decoration: none;

	border: none;
	background-color: var(--blue);
	color: white;
	outline: none;

	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 800;

	cursor: pointer;
}

select[type=regionDropdown] {
	padding: 10px 20px;
	margin: 0 5px 0 0;
	text-decoration: none;
	width: 12rem;
	height: 5rem;

	border: none;
	background-color: var(--blue);
	color: white;
	outline: none;

	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: 800;

	cursor: pointer;
}
